@charset "utf-8";

// ==================================
//　サイトの基本設定　変数
// ==================================

// 色関係の設定 -----------------------
	$colorType01: #F5F2ED;	//ベースカラー　クリーム
	$colorType02: #F78578;	//メインカラー 赤
	$colorType03: #F2B457;	//アクセントカラー　オレンジ
	$colorType04: #7CB5DB;	//アクセントカラー2　青
	$colorType05: #8ECE6C;	//アクセントカラー3　緑

	$color-link: #808080;	//リンクカラー
	$color-link-l: #ccc;	//リンクカラー薄い
	$color-link-d: #000;	//リンクカラー濃い

// フォント関係の設定 -----------------------
	$sansSerif: "メイリオ","Meiryo","ＭＳ Ｐゴシック","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",sans-serif;
	$serif: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;

// 余白設定 -----------------------
	$spaceSize: 1.8rem;

// ブレイクポイント -----------------------
	$breakpoints: (
		xs:"print, screen and (min-width: 321px)",
		s:"print, screen and (min-width: 576px)",
		m:"print, screen and (min-width: 768px)",
		l:"print, screen and (min-width: 992px)",
		xl:"print, screen and (min-width: 1280px)",
		xxl:"print, screen and (min-width: 1640px)",
	);
	@mixin media($breakpoint){
		@media #{map-get($breakpoints,$breakpoint)}{
			@content;
		}
	}

// z-index 設定 -----------------------
	$layer: (
		modal: 999,
		header: 20,
		tooltip: 10,
		default: 1
	);

// px→em サイズ調整 16でわる-----------------------
	@function em($px, $base: 16) {
		$value: $px;
		$value: calc($px/$base) * 1em;
		@return $value;
	}

// ページ個別設定 -----------------------
	$pageNameList: company, contact;