@use "../_setting" as s;

.sliderBox--typeChangeSlide {
  --easing: cubic-bezier(.2, 1, .2, 1);
  --transition: .8s var(--easing);
  --color-base: #f8f8f8;
  --color-gray: #ddd;
  --color-theme: #f5695f;
  --color-theme-darken: #f12617;
  --box-shadow: .8rem .8rem 1.2rem rgba(0, 0, 0, .05), -.8rem -.8rem 1.2rem #fff;
  --box-shadow-hover: 1rem 1rem 1.5rem rgba(0, 0, 0, .08), -1rem -1rem 1.5rem #fff;
  --box-shadow-inset: inset .8rem .8rem 1.2rem rgba(0, 0, 0, .05), inset -.8rem -.8rem 1.2rem #fff;
  --box-shadow-dark: .8rem .8rem 1.2rem rgba(0, 0, 0, .1), -.8rem -.8rem 1.2rem rgba(#fff,.2);
    	overflow: hidden;
	.swiper {
    		overflow: visible;
		display:block;
		width:90%;
		margin-left:5%;
		padding-left:5%;
		padding-right:5%;
		@include s.media(m){
			width:auto;
			margin-left:0;
			padding-left:0;
			padding-right:0;
		}
	}
	.swiper-wrapper {
		@include s.media(m){
			padding-top: 16px;
		}
		a{
			text-decoration:none;
		}
	}
	.slide {
		@include s.media(m){
		    -webkit-transition: var(--transition);
		    transition: var(--transition);
		}
		&:hover{
			@include s.media(m){
			    -webkit-transform: translateY(-16px);
			            transform: translateY(-16px);
			}
			img{
				@include s.media(m){
					    -webkit-transform: translateY(0);
					            transform: translateY(0);
				}
			}
		}
	}
	&__image{
		position: relative;
		overflow: hidden;
		img{
			  position: absolute;
			  top: 0;
			  left: 0;
			  width: 100%;
			  height: 100%;
			  -o-object-fit: cover;
			     object-fit: cover;
			@include s.media(m){
			    -webkit-transition: var(--transition);
			    transition: var(--transition);
			}
		}
	}
	.swiper-button-prev,.swiper-button-next {
	  display: grid;
	  place-content: center;
	  width: 6.4rem;
	  height: 6.4rem;
	  cursor: pointer;
	  -webkit-transition: var(--transition);
	  transition: var(--transition);
	}
	.swiper-button-prev::before,.swiper-button-next::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: "";
		border-radius: 50%;
		-webkit-box-shadow: var(--box-shadow);
		box-shadow: var(--box-shadow);
		background-color: rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: var(--box-shadow-dark);
		box-shadow: var(--box-shadow-dark);
		@include s.media(m){
		    -webkit-transition: var(--transition);
		    transition: var(--transition);
		}
	}
	.swiper-button-prev::after,.swiper-button-next::after {
		width: 1.2rem;
		height: 1.2rem;
		content: "";
		border: solid var(--color-gray);
		border-width: 3px 3px 0 0;
    		border-color: #fff;
		@include s.media(m){
		}
	}
	.swiper-button-prev:hover::before,.swiper-button-next:hover::before {
		@include s.media(m){
		    -webkit-transform: scale(1.2);
		            transform: scale(1.2);
		}
	}
	.swiper-button-prev {
		right: calc(100% - 1em);
		@include s.media(m){
			right: calc(100% - 7.2rem);
		}
	}
	.swiper-button-next {
    		left: calc(100% - 1em);
		@include s.media(m){
			left: calc(100% - 7.2rem);
		}
	}
	.swiper-button-prev::after {
	  margin-left: 0.4rem;
	  -webkit-transform: rotate(-135deg);
	          transform: rotate(-135deg);
	}
	.swiper-button-next::after {
	  margin-right: 0.4rem;
	  -webkit-transform: rotate(45deg);
	          transform: rotate(45deg);
	}
	.swiper-button-disabled {
	  pointer-events: none;
	  opacity: 0;
	}
	.swiper-area {
		position: relative;
	}
	.swiper-pagination {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		gap: 1.2rem 0.8rem;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
	          justify-content: center;
		margin-top: 3.2rem;
		text-align: center;
	}
	.swiper-pagination-bullet {
		width: 1.6rem;
		height: 3px;
		cursor: pointer;
		-webkit-transition: var(--transition);
		transition: var(--transition);
		vertical-align: top;
		background-color: var(--color-gray);
	}
	.swiper-pagination-bullet-active {
		width: 4rem;
		background-color: var(--color-theme);
	}
	.swiper-button-prev,.swiper-button-next {
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		margin: auto;
	  margin-left: -2.3em;
	}
	&__image {
		padding-top: 62.5%;
		border-radius: 4px;
		img{
			  height: calc(100% + 16px);
			  -webkit-transform: translateY(-16px);
			          transform: translateY(-16px);
		}
	}
	&__content{
		padding: 1em 0;
	}
	.swiper-button-disabled {
    		pointer-events: none;
    		opacity: 0;
  	}
	.swiper:not(.swiper-initialized) {
		padding: 0;
		.swiper-pagination{
			display: none;
		}
		.swiper-button-prev{
			display: none;
		}
		.swiper-button-next{
			display: none;
		}
		.swiper-wrapper {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 32px;
		}
	}
}

