@use "../_setting" as s;


// .globalNaviSmall　グローバルナビ ハンバーガーメニュー
.globalNaviSmall {
	&__icon {
		width: 3em;
		height: 3em;
		position: absolute;
		top:0;
		right:0;
	}
	&__iconButton{
		width: 3em;
		height: 3em;
		cursor:pointer;
		float: right;
		display: block;
		background: #FFF;
		position: relative;
		margin:0.5em 0.5em 0.5em 0.5em;
	  	border-radius: 0.3em 0.3em 0.3em 0.3em;
		z-index:999;
	}
	&__icon span {
	    width: 2em;
	    height: 1px;
	    display: block;
	    background: #000;
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    margin-left: -33%; 
	}
	.modal{
		z-index:100;
	}
}
	

.globalNaviSmall{
	&__icon--type01{
		// ハンバーガーメニュー 押す前
		span {
		  -webkit-transition: all 0.3s;
		          transition: all 0.3s;
		  -webkit-transform: rotate(0deg);
		      -ms-transform: rotate(0deg);
		          transform: rotate(0deg); 
		}
		.iconButton--top {
		  -webkit-transform: translateY(-0.7em);
		      -ms-transform: translateY(-0.7em);
		          transform: translateY(-0.7em); 
		}
		.iconButton--bottom {
		  -webkit-transform: translateY(0.7em);
		      -ms-transform: translateY(0.7em);
		          transform: translateY(0.7em); 
    	}

    	// ハンバーガーメニュー hover
		&:hover {
			.iconButton--top {
			  -webkit-transform: translateY(-0.8em);
			      -ms-transform: translateY(-0.8em);
			          transform: translateY(-0.8em);
			}
			.iconButton--bottom {
			  -webkit-transform: translateY(0.8em);
			      -ms-transform: translateY(0.8em);
			          transform: translateY(0.8em); 
          	}
    	}

    	// ハンバーガーメニュー 押した後の動き
		&.is-open {
			.iconButton--middle {
			  background: rgba(255, 255, 255, 0);
			}
			.iconButton--top {
			  -webkit-transform: rotate(-45deg) translateY(0px);
			      -ms-transform: rotate(-45deg) translateY(0px);
			          transform: rotate(-45deg) translateY(0px); 
			}
			.iconButton--bottom {
				  -webkit-transform: rotate(45deg) translateY(0px);
				      -ms-transform: rotate(45deg) translateY(0px);
				          transform: rotate(45deg) translateY(0px);
			}
    	}
	}
}



/* .globalNaviSmall　スマホグローバルナビ
------------------------------------------ */
#wrapper .globalNaviSmall {
	display:block;
	width:100%;
	position: fixed;
	z-index:888;
	top:0;
	left:-2em;
	@include s.media(m){
		display: none;
	}
	&__menu{
		width:100%;
	  	max-height: 100vh;
		display:block;
		&__inner{
			width:100%;
		  	min-height: 100vh;
			overflow-x:hidden;
			overflow-y:auto;
  			padding: 2em;
			display:block;
		}
		&__main{
			width:100%;
			display:flex;
			justify-content:center;
			flex-wrap:wrap;
			margin-bottom:2em;
			li {
				width:50%;
				padding:0.5em;
				display:block;
				>a{
					padding:1em;
					display:block;
					background:s.$colorType01;
					border-radius:1em;
					text-decoration:none;
					line-height:1.7;
					&:hover{
						color:#999;
					}
				}
				span{
					text-align:center;
					display:block;
					font-family: "Zen Maru Gothic", serif;
					font-weight: 500;
					font-style: normal;
					&:nth-child(1){
						width:3em;
						margin:0 auto;
					}
					img{
						width:100%;
					}
				}
				&:nth-child(1){
					width:100%;
				}
				&:nth-child(2){
					width:100%;
				}
			}
			.globalNaviSmall__instagram{
				width:100%;
				>a{
					width:100%;
					display:flex;
					align-items:center;
					justify-content:center;
					span:nth-child(2){
			            margin-right: 2em;
			            margin-left: -2em;
					}
				}
			}
		}
		&__sub li{
  			padding:0 0 0 1em;
		}
	}
	&__subItem{
		width:100%;
		display:flex;
		justify-content:space-between;
		flex-wrap:wrap;
		a{
			width:47%;
		}
	}
	.modal__overlay {
		background: none;
	}
	.modal__container {
		background:rgba(255,255,255,.95);
		width:100%;
		max-width: 100%;
		border-radius: 0;
  		padding: 0;
		min-height: 100vh;
	}
	&__siteTitle{
		width:80%;
		margin:0 auto 1em;
		display:block;
		text-align:center;
		img{
			width:100%;
		}
		span:nth-child(1){
			display:inline-block;
			width:6em;
			margin-bottom:1em;
		}
	}
	&__tel{
		text-align:center;
		display:block;
		span,a{
			color:s.$colorType02;
			font-family: "Zen Maru Gothic", serif;
			font-weight: 500;
			font-style: normal;
			font-size:2em;
			position:relative;
			padding-left:0.9em;
			display:inline-block;
			text-decoration:none;
			line-height:1.7;
			&::before{
				content:" ";
				display:block;
				width:1em;
				height:1em;
				background:url(../img/common/imgTel.png) no-repeat center top;
				background-size:100% auto;
				position:absolute;
				top:0.4em;
				left:-0.5em;
			}
			&::after{
				content:none;
			}
		}
	}
	&__information{
		width:80%;
		margin:0 auto 2em;
		display:block;
		text-align:center;
	}
	&__item{
		padding:1em;
		display:block;
		background:s.$colorType01;
		border-radius:1em;
		text-decoration:none;
		line-height:1.7;
		span:nth-child(2){
			margin-bottom:0.5em;
			color:s.$colorType02;
		}
		a{
			padding:1em 0.5em;
			display:block;
			text-align:center;
			background:#FFF;
			border-radius:1.5em;
			margin-bottom:0.3em;
			font-family: "Zen Maru Gothic", serif;
			font-weight: 500;
			font-style: normal;
			text-decoration:none;
		}
	}
}


/* Safari */
_:lang(x)+_:-webkit-full-screen-document, .globalNaviSmall__menu {
  min-height: -webkit-fill-available;
}
_:lang(x)+_:-webkit-full-screen-document, .globalNaviSmall__menu__inner {
  min-height: -webkit-fill-available;
}




/* .globalNavi　グローバルナビ
------------------------------------------ */

.globalNavi{
	display:block;
	@include s.media(m){
		width:100%;
		display:block;
		position:fixed;
		top:0;
		left:0;
		z-index:10;
	}
	&__menu{
		&__main{
			display:block;
			@include s.media(m){
				width:100%;
				position:relative;
				background:#FFF;
				border-radius:0 0 2em 2em;
				align-items:center;
				padding-bottom:2em;
				display:flex;
				justify-content:space-around;
			}
			>ul {
				display:none;
				@include s.media(m){
					width:38%;
					display:flex;
					justify-content:space-around;
				}
				&:nth-child(2){
					margin-right:13em;
				}
				&:nth-child(3){
					margin-left:1em;
				}
				>li {
					width: 9.5em;
					//height: 5em;
					padding:2em 0 0 0;
					text-align:center;
					display:block;
				   	position: relative; /*z-indexの指定や子要素の基準とするために指定*/
				   	z-index: 2; /*ドロップダウンしたメニューが隠れないように*/
					span{
						display:block;
						&:nth-child(2){
							font-size:0.875em;
							font-family: "Zen Maru Gothic", serif;
							font-weight: 700;
							font-style: normal;
							margin-top:-0.5em;
						}
					}
				}
			}
			li a {
				text-decoration:none;
				display:block;
				&:hover {
					text-decoration:none;
				}
			}
		}
	}
}



/* When Active Page */
body#home .globalNavi ul.globalNavi__menu__main>li:nth-child(1)>a {color:#EEE !important; pointer-events: none;}
body#■■ .globalNavi ul.globalNavi__menu__main>li:nth-child(3)>a {color:#EEE !important; pointer-events: none;}



/* .globalNavi__menu__sub　グローバルナビサブメニュー
------------------------------------------ */




ul.globalNavi__menu__sub {
	width:100%;
	opacity: 0;  /*サブメニューは最初は非表示にしておく*/
	visibility: hidden;  /*サブメニューは最初は非表示にしておく*/
	position: absolute;
	top: 5.6em;
	left: 0;
	border-top: 1px solid #EEE;  /*ボーダートップを指定*/
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	li{
		height:auto;
		padding: 0;  /*親メニューのパディングを解除*/
		margin:0;
		*margin-top:-8px;
		display:block;
		line-height:1.5em;
		a{
			border: 1px solid #eee;  /*ボーダーの指定*/
			border-top: none;  /*ボーダートップは重なって太くなるので解除。一番上は ul 要素に指定*/
			padding: 0.8rem 0;
			background-color: #FFF;
			text-decoration:none;
			color: #666;
			text-align:center;
			display:block;
			font-size:0.9em;
			border-radius:2em;
			font-family: "Zen Maru Gothic", serif;
			font-weight: 500;
			font-style: normal;
			&:hover{ 
				color:#000;
				background-color: #EEE;
			}
		}
		+li{
			margin-top:0.2em;
		}
	}
}

.globalNavi ul li:hover ul.globalNavi__menu__sub {
	width:100%;
	top: 6.4em;
	visibility:visible;
	opacity: 1;
	display: block;    /*マウスオーバー時にサブメニューを表示する*/
}

.globalNavi.globalNaviAccordion ul.globalNavi__menu__sub li{
  	padding:0;
}

/* When Active Page */
/*body#■■ .globalNavi ul.globalNavi__menu__main li:nth-child(■) ul.globalNavi__menu__sub li:nth-child(■) a { color:#000; background-color: #DDD; pointer-events: none; }*/





