@use "../_setting" as s;
.inBase__inner {
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	@include s.media(m){
		width: 92.1875%;
	}
	&::after {
    content:" ";
    display:block;
    clear:both;
	}
}


.mainVisual{
	display:block;
	padding-top:1em;
	@include s.media(m){
		padding-top:10em;
	}
	@include s.media(xl){
		padding-top:11em;
	}
}




// #pageBox等　ナビ上部固定の分　ページリンクのずれ補正
@mixin cureGap($value:4em){
	margin-top:-$value;
	padding-top:$value;
}

#contents {
	@include s.media(m){
		@include cureGap();
	}
}

.linkAdjustment{
	@include s.media(m){
		@include cureGap();
	}
}

$tmp:"";
@for $i from 1 through 15{
	@if $i < 10{
		$tmp:"0#{$i}";
	} @else {
		$tmp: $i;
	}
	#pageBox#{$tmp} {
		@include s.media(m){
			@include cureGap();
		}
	}
}

// z-index 要素の重なり順
@mixin z-index($key){
	z-index:map-get(s.$layer, $key);
}
.modal{
	@include z-index(modal);
}
.header{
	@include z-index(header);
}
.tooltip{
	@include z-index(tooltip);
}
.default{
	@include z-index(default);
}

// アンダーラインアニメーション　mixin
@mixin hover-underline($type: fade, $dir: null, $weight: 2px, $color: #000) {
  @if $dir == null {
    @if $type == fade {
      $dir: 'top';
    } @else if $type == slide {
      $dir: 'center';
    }
  }

  position: relative;
  display: inline-block;
  text-decoration: none;
  &::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: $weight;
    background: $color;
    @if $type == fade {
      transition: .3s;
      opacity: 0;
      visibility: hidden;
      @if $dir == bottom {
        bottom: $weight * -4;
      } @else {
        bottom: $weight;
      }
    } @else if $type == slide {
      bottom: $weight * -2;
      transform: scale(0, 1);
      transition: transform .3s;
      @if $dir == left-right or $dir == right-in-left {
        transform-origin: left top;
      } @else if $dir == right-left or $dir == left-in-right {
        transform-origin: right top;
      } @else {
        transform-origin: center top;
      }
    }
  }
  &:hover::after {
    @if $type == fade {
      bottom: $weight * -2;
      opacity: 1;
      visibility: visible;
    } @else if $type == slide {
      @if $dir == left-in-right {
        transform-origin: left top;
      } @else if $dir == right-in-left {
        transform-origin: right top;
      }
      transform: scale(1, 1);
    }
  }
}

.link{
	// Fade Top
	&--typeFadeTop a{
		@include hover-underline('fade', 'top');
  	}
  	// Fade Bottom
	&--typeFadeBottom a {
		@include hover-underline('fade', 'bottom');
	}
  	// Left to Right
	&--typeLeftToRight a {
		@include hover-underline('slide', 'left-right');
	}
  	// Right to Left
	&--typeRightToLeft a {
	 	@include hover-underline('slide', 'right-left');
	}
  	// Left in Right
	&--typeLeftInRight a {
		@include hover-underline('slide', 'left-in-right');
	}
  	// Right in Left
	&--typeRightInLeft a {
		@include hover-underline('slide', 'right-in-left');
	}
  	// Center
	&--typeCenter a {
		@include hover-underline('slide', 'center');
	}
}

// ----------------------------------------------

.pagefixed {
	position: fixed;
	width: 100%;
	height: 100%;
}

.center-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.pageTopEmpty{
	@include s.media(m){
		display:block;
		padding-top:6em;
	}
}

#btnTelEmpty{
	position: relative;
	width: 100%;
	height: auto;
	overflow:hidden;
	background:#ED877C;
	@include s.media(m){
		display: none;
	}
	&:before{
		content: "";
		display: block;
		padding-top: 25%; /* 4:1 */
	}
}

.parallaxBox{
	min-height:17em;
	display:block;
	padding:3.6rem 0 0;
	position: relative;
}

.copyright {
	display:block;
	text-align:center;
	padding:0.8rem 0;
	font-size:0.8em;
	color:#FFF;
	@include s.media(m){
		padding-right:18em;
	}
	@include s.media(xl){
		padding-right:0;
	}
}

#wrapper a.--noLink {
	pointer-events: none;
}

.luminous,.luminousGallery{
	position:relative;
	display:block;
	&:after {  
		-webkit-transition: 0.3s ease-in-out;  
	    -moz-transition: 0.3s ease-in-out;  
	    -o-transition: 0.3s ease-in-out;  
	    transition: 0.3s ease-in-out;
		 filter: alpha(opacity=0);
		 -moz-opacity: 0;
		 opacity: 0;
		font-family: "icomoon";
		content:"\f00e";
		font-size:1.5rem;
		color:#FFF;
		background: rgba(0,0,0,0.3);
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		display: -webkit-flex;
		 display: flex;
		 -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
		 align-items: center; /* 縦方向中央揃え */
		 -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
		 justify-content: center; /* 横方向中央揃え */
		text-align:center;
		@include s.media(m){
			font-size:3rem;
		}
	}
	&:hover:after {
		 filter: alpha(opacity=90);
		 -moz-opacity: 0.9;
		 opacity: 0.9;
	}
}


.movieButton{
	position:relative;
	display:block;
	cursor:pointer;
	&:after {  
		-webkit-transition: 0.3s ease-in-out;  
	    -moz-transition: 0.3s ease-in-out;  
	    -o-transition: 0.3s ease-in-out;  
	    transition: 0.3s ease-in-out;
		 filter: alpha(opacity=0);
		 -moz-opacity: 0;
		 opacity: 0;
		font-family: "icomoon";
		content:"\f16a";
		font-size:1.5rem;
		color:#FFF;
		background: rgba(0,0,0,0.3);
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		display: -webkit-flex;
		 display: flex;
		 -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
		 align-items: center; /* 縦方向中央揃え */
		 -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
		 justify-content: center; /* 横方向中央揃え */
		text-align:center;
		@include s.media(m){
			font-size:3rem;
		}
	}
	&:hover:after {
		 filter: alpha(opacity=90);
		 -moz-opacity: 0.9;
		 opacity: 0.9;
	}
}

.inlineModalButton{
	position:relative;
	display:block;
	cursor:pointer;
	&:after {  
		-webkit-transition: 0.3s ease-in-out;  
	    -moz-transition: 0.3s ease-in-out;  
	    -o-transition: 0.3s ease-in-out;  
	    transition: 0.3s ease-in-out;
		 filter: alpha(opacity=0);
		 -moz-opacity: 0;
		 opacity: 0;
		font-family: "icomoon";
		content:"\f0c1";
		font-size:1.5rem;
		color:#FFF;
		background: rgba(0,0,0,0.3);
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		display: -webkit-flex;
		 display: flex;
		 -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
		 align-items: center; /* 縦方向中央揃え */
		 -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
		 justify-content: center; /* 横方向中央揃え */
		text-align:center;
		@include s.media(m){
			font-size:3rem;
		}
	}
	&:hover:after {
		 filter: alpha(opacity=90);
		 -moz-opacity: 0.9;
		 opacity: 0.9;
	}
}

// インライン表示のスクロールバー
.modal-inlineContent .inline__display::-webkit-scrollbar {
    width: 10px;
}
 // スクロールバーの背景
.modal-inlineContent .inline__display::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.3);
}
 // スクロールバーのバー
.modal-inlineContent .inline__display::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.6);
}

// Firefox に対応した スクロールバーデザイン
.modal-inlineContent .inline__display {
  scrollbar-width: thin; 
  scrollbar-color: rgba(0,0,0,0.6) rgba(0,0,0,0.3);
}

.adjustBox {
	position: relative;
	width: 100%;
	height: auto;
	overflow:hidden;
	&:before {
		content: "";
		display: block;
		padding-top: 100%; /* 1:1 */
	}
	&.adjustBox {
		&--type01:before {
			padding-top: 175%; /* 4:7 */
		}
		&--type02:before {
			padding-top: 150%; /* 2:3 */
		}
		&--type03:before {
			padding-top: 125%; /* 3:4 */
		}
		&--type04:before {
			padding-top: 75%; /* 4:3 */
		}
		&--type05:before {
			padding-top: 50%; /* 2:1 */
		}
		&--type06:before {
			padding-top: 25%; /* 4:1 */
		}
		&--typeGR:before {
			padding-top: 61.74%; /* 1.618:1 */
		}
		&--typeGR-h:before {
			padding-top: 161.8%; /* 1:1.618 */
		}
	}
	&__inner {
		position: absolute;
		top: 0; 
		left: 0;
		width: 100%;
		height: 100%;
		img {
			position: relative;
			top: 50%;
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			&.h100{
			  position: absolute;
			  width: 100%;
			  height: 100%;
			  top: 0;
			  right: 0;
			  bottom: 0;
			  left: 0;
			  margin: auto;
			  object-fit: cover;
			  -moz-transform: none;
			  -ms-transform: none;
			  -webkit-transform: none;
			  transform: none;
			}
		}
	}
	p {
	    font-size:1.25vw;
	    line-height:1.5em;
	}
}

.googleMapBox{
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
	@include s.media(m){
		padding-bottom: 40%;
	}
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}
}

.youtubeBox{
	position: relative;
	width: 100%;
	padding-top: 56.25%;
	display:block;
	iframe {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
}

.modal-movie{
	.modal__container{
		width:95%;
		padding:0.5em;
		@include s.media(m){
			padding:1em;
		}
		@include s.media(xl){
  			max-width:854px;
		}
	}
}

#btnPageBottom{
	width:100%;
    	position: fixed;
    	bottom: 0;
    	left: 0;
	z-index:-1;
	opacity: 0;
	transition-duration: 0.5s;
	display: block;
	@include s.media(m){
		//display: none;
		//_display: none;
		width:36em;
	    	position: fixed;
	    	bottom: 0;
	    	right: 0;
    		left: unset;
	}
	&.is-active{
		z-index:5;
		opacity: 1;
	}
}

.btnPageBottom{
	&--btn{
		width:100%;
		display:flex;
		padding-top:0.7em;
		a{
			width:25%;
			display:block;
			text-align:center;
			text-decoration:none;
				background: rgba(255,255,255,1);
				padding:0.8em 0.5em;
				color:#000;
				vertical-align:middle;
				    /*-webkit-transition: 1s;
				    -moz-transition: 1s;
				    -o-transition: 1s;
				    -ms-transition: 1s;*/
				    transition: 1s;
			  	border-radius: 2em 2em 0 0;
				@include s.media(m){
			  		border-radius: 3em 3em 0 0;
				}
			figure{
				width:3em;
				margin:0 auto 0.3em;
				img{
					width:100%;
				}
			}
			span{
				font-size:1em;
				font-family: "Zen Maru Gothic", serif;
				font-weight: 500;
				font-style: normal;
				padding-top:0.5em;
				display:inline-block;
			}
			&:nth-child(1) span{
				font-size:0.8em;
				line-height:1.4;
				padding-top:0;
				@include s.media(m){
					font-size:0.9em;
				}
			}
			&.pageRiseButton{
				background:#FFE9E6;
				width:6em;
				height:6em;
				border-radius:50%;
				position:absolute;
				bottom:9em;
				right:0.5em;
				@include s.media(m){
					right:1.5em;
				}
				figure{
					width:2.5em;
					margin:0 auto 0.3em;
					img{
						width:100%;
					}
				}
				span{
					font-size:0.8em;
					padding-top:0.3em;
				}
			}
		}
	}
}

#wrapper .fadeParts {
	opacity: 0;
	transition: 0.5s;
}

#wrapper .fadeParts.active {
	opacity: 1;
}

#wrapper .scheduleTableBox{
	table{
		position:relative;
		th,td{
			background-color:unset;
			border:none;
		}
		tr:nth-of-type(2n+1){
			background-color:unset;
		}
	}
}

#wrapper .scheduleTableBox{
	table{
		position:relative;
		&::before{
			content:"";
			width:100%;
			height:1px;
			position:absolute;
			top:2em;
			left:0;
			border-bottom:#C6C2C2 dotted 2px;
		}
		&::after{
			content:"";
			width:1px;
			height:100%;
			position:absolute;
			top:0;
			left:6.2em;
			border-right:#C6C2C2 dotted 2px;
		}
		th{
			color:s.$colorType02;
			font-family: "Zen Maru Gothic", serif;
			font-weight: 500;
			font-style: normal;
			padding:0.2em 0.4em;
			text-align:center;
			@include s.media(xl){
				padding:0.2em 0.5em;
			}
		}
		td{
			color:#000;
			font-family: "Zen Maru Gothic", serif;
			font-weight: 500;
			font-style: normal;
			padding:0.2em 0.4em;
			text-align:center;
			@include s.media(xl){
				padding:0.2em 0.5em;
			}
		}
	}
	&__sentence{
		font-size:0.9em;
		display:block;
		margin-top:0.7em;
		text-align:center;
		span{
			border:#000 solid 1px;
			padding:0 0.3em;
		}
	}
}

#wrapper #container .scheduleTableBox{
	table{
		&::before{
			top:1.6em;
			@include s.media(m){
				top:2em;
			}
		}
	}
}

#wrapper .title--type01{
	display:block;
	text-align:center;
	margin-bottom:1.5em;
	@include s.media(m){
		margin-bottom:3em;
	}
	figure{
		width:0.5em;
		display:block;
		margin:0 auto 0.5em;
		img{
			width:100%;
		}
	}
	small{
		color:s.$colorType03;
		font-family: "Zen Maru Gothic", serif;
		font-weight: 500;
		font-style: normal;
		font-size:0.875em;
	}
	h3{
		color:#000;
		font-family: "Zen Maru Gothic", serif;
		font-weight: 700;
		font-style: normal;
		font-size:1.8em;
		@include s.media(m){
			font-size:2.25em;
		}
	}
	&+p{
		font-size:1.1em;
		@include s.media(m){
			font-size:1em;
		}
	}
}

#wrapper .title--type02{
	display:block;
	margin-bottom:1.5em;
	position:relative;
	padding-left:2em;
	@include s.media(m){
		margin-bottom:3em;
	}
	figure{
		width:0.5em;
		display:block;
		position:absolute;
		bottom:0;
		left:0;
		img{
			width:100%;
		}
	}
	small{
		color:s.$colorType03;
		font-family: "Zen Maru Gothic", serif;
		font-weight: 500;
		font-style: normal;
		font-size:0.875em;
	}
	h3{
		color:#000;
		font-family: "Zen Maru Gothic", serif;
		font-weight: 700;
		font-style: normal;
		font-size:1.8em;
		@include s.media(m){
			font-size:2.25em;
		}
	}
}

#wrapper .lead--type01{
	color:s.$colorType02;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
	font-style: normal;
	font-size:1.3em;
	display:block;
	text-align:center;
	margin-bottom:1em;
	@include s.media(m){
		font-size:1.75em;
	}
	&+p{
		font-size:1.1em;
		@include s.media(m){
			font-size:1em;
		}
	}
}





.sliderBox--typeFullPage {
    --easing: cubic-bezier(.2, 1, .2, 1);
    --transition: .8s var(--easing);
    --box-shadow: .8rem .8rem 1.2rem rgba(0, 0, 0, .05), -.8rem -.8rem 1.2rem #fff;
    --box-shadow-hover: 1rem 1rem 1.5rem rgba(0, 0, 0, .08), -1rem -1rem 1.5rem #fff;
    --box-shadow-inset: inset .8rem .8rem 1.2rem rgba(0, 0, 0, .05), inset -.8rem -.8rem 1.2rem #fff;
    --box-shadow-dark: .8rem .8rem 1.2rem rgba(0, 0, 0, .1), -.8rem -.8rem 1.2rem rgba(#fff,.2);
	.slide-media{
		position: relative;
		overflow: hidden;
      		height: max(70vh, 70vw);
		@include s.media(m){
		    	height: 800px;
		    	height: 40em;
		}
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			-webkit-transition: 7s 1s ease-out;
			transition: 7s 1s ease-out;
		}
	}
	.thumb-media{
		position: relative;
		overflow: hidden;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			-webkit-transition: 7s 1s ease-out;
			transition: 7s 1s ease-out;
		}
	}
	.swiper-fade{
		.swiper-slide {
			-webkit-transition-property: opacity, -webkit-transform !important;
		   	transition-property: opacity, -webkit-transform !important;
		    	transition-property: opacity, transform !important;
		    	transition-property: opacity, transform, -webkit-transform !important;
		    	pointer-events: none;
		}
		.swiper-slide-active {
    			pointer-events: auto;
		}
	}
	.swiper-pagination {
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 3.2rem;
		height: -webkit-max-content;
		height: -moz-max-content;
		height: max-content;
		margin: auto;
	}
	.swiper-pagination-bullet {
		display: block;
	    	width: 3px;
	    	height: 4rem;
	    	cursor: pointer;
	    	-webkit-transition: var(--transition);
	    	transition: var(--transition);
	    	background-color: rgba(255, 255, 255, 0.7);
	    	border-radius:0;
	    	opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.6);
		&:not(:first-child) {
			margin-top: 0.8rem;
		}
	}
	.swiper-pagination-bullet-active{
		background: #000;
	}
	.swiper-button-prev{
    		color: #666;
		&::before{
			@include s.media(m){
			      -webkit-transition: var(--transition);
			      transition: var(--transition);
			}
		}
		&:hover::before{
			@include s.media(m){
			      -webkit-transform: scale(1.2);
			              transform: scale(1.2);
			}
		}
	}
	.swiper-button-next{
    		color: #666;
		&::before{
			@include s.media(m){
			      -webkit-transition: var(--transition);
			      transition: var(--transition);
			}
		}
		&:hover::before{
			@include s.media(m){
			      -webkit-transform: scale(1.2);
			              transform: scale(1.2);
			}
		}
	}
	.slide-title {
		font-size: 2.8rem;
		position: absolute;
		right: 4rem;
		margin-left: 6rem;

		font-weight: normal;
		line-height: 1.6;
		bottom: 15%;
		text-align: right;
		color: #fff;
		@include s.media(m){
		    	font-size: 4rem;
			position: absolute;
			right: 8rem;
			margin-left: 16rem;
		}
	}
	.swiper-slide[class*=-active] {
		.slide-media img {
		    -webkit-transition-delay: 0s;
		            transition-delay: 0s;
		    -webkit-transform: scale(1.05);
		            transform: scale(1.05);
		}
		.slide-title {
		    -webkit-animation: typeFullPage01-fadeIn 2s 0.5s var(--easing) both;
		            animation: typeFullPage01-fadeIn 2s 0.5s var(--easing) both;
		}
	}
}

@-webkit-keyframes typeFullPage01-fadeIn {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      opacity: 0;
      -webkit-filter: blur(300px);
              filter: blur(300px);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
      -webkit-filter: blur(0);
              filter: blur(0);
    }
}

@keyframes typeFullPage01-fadeIn {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      opacity: 0;
      -webkit-filter: blur(300px);
              filter: blur(300px);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
      -webkit-filter: blur(0);
              filter: blur(0);
    }
}


























































//下層ページ用パーツ

.home #contents{
	padding-top:0;
	background:none;
	@include s.media(m){
		padding-top:4em;
		background:none;
	}
}

#wrapper .contentBox{
	padding-top:1em;
	@include s.media(m){
		padding-top:1em;
	}
}

#wrapper .pageTitleBox{
	display:block;
	padding-top:2.2em;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 700;
	font-style: normal;
	padding-bottom:1em;
	@include s.media(m){
		padding-top:24em;
		padding-bottom:2.2em;
	}
	@include s.media(xl){
		padding-top:24em;
	}
	figure{
		width:180%;
		display:block;
		position:absolute;
		top:0;
		left:50%;
		margin-left:-90%;
		z-index:-1;
		@include s.media(m){
			width:120em;
			margin-left:-60em;
		}
		img{
			width:100%;
		}
	}
}

#wrapper #container .pageTitleBox figure{
	top:-5em;
	@include s.media(m){
		top:0;
	}
}

#wrapper .pageTitle h1,.categolyTitle{
	width:100%;
	display:flex;
	align-items:flex-end;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 700;
	font-style: normal;
	color:#000;
	letter-spacing:0.1em;
	line-height:1.4;
	font-size:1.7em;
	color:#FFF;
	min-height:3em;
	position:relative;
	@include s.media(m){
		display:block;
		font-size:3em;
		min-height:unset;
	}
	&::after{
		content:none;
		width:4em;
		height:4em;
		display:block;
		background: url(../img/home/imgKuma01_sp.png) no-repeat center top;
		background-size:100% auto;
		position:absolute;
		top:-2em;
		left:-2.5em;
		@include s.media(m){
			content:" ";
			width:4em;
			height:4em;
			top:-2.5em;
			left:-3em;
		}
	}
}

#wrapper #container .pageTitle h1,.categolyTitle{
		@include s.media(m){
			padding:0;
		}
}

#wrapper .topicpathBox{
	padding:0.7em 0;
	display:block;
	position:relative;
	background:#FFF;
}

#wrapper .topicpath{
	display:block;
	a{
		color:#000;
		&:hover{
			color:#000;
		}
	}
	> ul{
		width:100%;
		display:flex;
		align-items:center;
		font-size:0.9em;
		li{
			color:#000;
			&:first-child{
	        	}
	        	+li {
	        		margin-left:0.5em;
				&:before{
	                		content: "\025b6";
	                		font-family: 'icomoon';
	                		margin-right: 0.2em;
					color:#DEA29B;
				}
			}
		}

	}
}

#wrapper .fa.fa-angle-right{
	&:before{
		color:#DEA29B;
	        content: "\f04b";
		font-family: 'icomoon';
	}
}

#wrapper .breadcrumb {
	text-align:left;
	.fa-fw{
		display:none;
	}
}

#wrapper .pageBox__pageTitle{
	width:100%;
	display:block;
	margin-bottom:3em;
	border-bottom: dashed #9D8F8F 3px;
	@include s.media(m){
		margin-bottom:2em;
	}
	h1.entry-title{
		font-family: "Zen Maru Gothic", serif;
		font-weight: 700;
		font-style: normal;
		font-size:1.5em;
		positon:relative;
		display:block;
		position:relative;
		line-height:1.7em;
		padding-bottom:1em;
		@include s.media(m){
			font-size:2.25em;
		}
	
	}
}


.single-news .under-entry-content a.a-wrap{
	.card-thumb{
		display:none;
	}
}

.single-news #wrapper .pager-post-navi{
		@include s.media(m){
			flex-direction: row;
			justify-content:space-between
		}
		a{
			width:100%;
			&+a{
				@include s.media(m){
					width:48%;
				}
			}
			&:nth-last-child(2){
				@include s.media(m){
					width:48%;
				}
			}
		}
}














/*WP Cocoon 見出しデザインリセット*/
.article h2 {
  padding: 0;
  background-color:transparent;
  border-radius: 0;
}

.article h2 {
	font-family: "Zen Maru Gothic", serif;
	font-weight: 700;
	font-style: normal;
	letter-spacing:0.1em;
	font-size:1.2em;
	display:block;
	position:relative;
	margin-bottom:s.$spaceSize;
	padding:3em 0.7em 0.4em 0.7em;
	position:relative;
	color:#000;
	text-align:center;
	@include s.media(m){
		padding:2em 1em 0.5em;
		font-size:1.75em;
	}
	&::after{
		content: " ";
		width:0.4em;
		height:4em;
		display:block;
		position:absolute;
		top:0.3em;
		left:50%;
		margin-left:-0.2em;
		background: url(../img/home/imgBrush.png) no-repeat center top;
		background-size:100% auto;
		@include s.media(m){
			margin-left:-0.125em;
			width:0.35em;
			height:2.5em;
			top:0;
		}
	}
}

#container .article h2::before {
	  top:1.1em;
		@include s.media(m){
	    top:1.4em;
		}
}

.article h3 {
  padding: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}


.article h3 {
	font-family: "Zen Maru Gothic", serif;
	font-weight: 700;
	font-style: normal;
	color:#000;
	display:block;
	font-weight:bold;
	font-size:1.1em;
	margin-bottom:s.$spaceSize;
	position:relative;
	text-align:center;
	@include s.media(m){
		padding:0 3em;
		font-size:1.75em;
	}
	&::before{
		content: " ";
		width:2em;
		height:1em;
		display:inline-block;
		background: url(../img/common/imgDeco01.png) no-repeat center center;
		background-size:100% auto;
		margin-right:0.5em;
		@include s.media(m){
			width:2em;
			height:1em;
		}
	}
	&::after{
		content: " ";
		width:2em;
		height:1em;
		display:inline-block;
		background: url(../img/common/imgDeco01.png) no-repeat center center;
		background-size:100% auto;
		margin-left:0.5em;
		@include s.media(m){
			width:2em;
			height:1em;
		}
	}
}

.article h4 {
  padding: 0;
  border-top: 0;
  border-bottom: 0;
}

.article h4 {
	font-family: "Zen Maru Gothic", serif;
	font-weight: 700;
	font-style: normal;
	vertical-align: bottom;;
	display:block;
	line-height: 1.7;
	letter-spacing:0.1em;
	font-size:1.1em;
	margin-bottom:s.$spaceSize;
	position:relative;
	color:s.$colorType02;
	@include s.media(m){
		font-size:1.5em;
	}
	&.block-editor-rich-text__editable{
		display:block;
	}
}

#container .article h4::before {
    top:0.5em;
}
 
.article h5{
  padding: 0;
  border-bottom: 0;
}

.article h5 {
	font-family: "Zen Maru Gothic", serif;
	font-weight: 700;
	font-style: normal;
	vertical-align: bottom;;
	display:block;
	line-height: 1.7;
	letter-spacing:0.1em;
	font-size:1.1em;
	margin-bottom:s.$spaceSize;
	position:relative;
	color:#000;
	padding-bottom:0.3em;
	border-bottom:dashed #9D8F8F 3px;
	@include s.media(m){
		font-size:1.25em;
	}
	&.block-editor-rich-text__editable{
		display:block;
	}
}


.article h6{
  padding: 0;
  border-bottom: 0;
}

.article ul{
	margin-bottom:s.$spaceSize*1.5;
	padding-left: 1em;
	li{
		font-family: "Zen Maru Gothic", serif;
		font-weight: 500;
		font-style: normal;
		position:relative;
		padding-left:1em;
		margin-bottom:s.$spaceSize*0.5;
		@include s.media(m){
			font-size:1.1em;
		}
		&:before {
			content: " ";
			width:0.4em;
			height:0.4em;
			display:block;
			position:absolute;
			top:0.8em;
			left:0;
			background:#9B8E8E;
			transform: rotate(45deg);
			//z-index:-1;
		}
		@include s.media(m){
			font-size:1.1em;
		}
	}
}

.article ol{
	counter-reset: item;
	list-style-type: none;
	padding-left: 1em;
	margin-bottom:s.$spaceSize*1.5;
	ol{
		padding-left: 1em;
	}
	li{
		text-indent: -1.7em;
		padding-left: 1.7em;
		font-family: "Zen Maru Gothic", serif;
		font-weight: 500;
		font-style: normal;
		z-index:1;
		position:relative;
		@include s.media(m){
			font-size:1.1em;
		}
		&::before {
			font-size:0.8em;
			counter-increment: item;
			content: counter(item,decimal-leading-zero)'';
			/* 以下は自由に装飾... */
			margin-right: .5em;
			font-weight: bold;
			color: #FFF;
			text-align:center;
			display:inline-block;
			padding-left:1.7em;
			z-index:1;
		}
		&::after {
			content: " ";
			width:1.1em;
			height:1.1em;
			display:block;
			position:absolute;
			top:0.37em;
			left:0;
			background:#DEA29B;
			transform: rotate(45deg);
			border-radius:0.2em;
			z-index:-1;
		}
	}
}

ol li .block-editor-rich-text__editable{
	display:inline-block;
		text-indent: -1.7em;
		padding-left: 1.7em;
}
.editor-styles-wrapper ol, .editor-styles-wrapper ul{
	padding-left:1em;
}


#wrapper .article table, #wrapper .article .wp-block-table table, .editor-styles-wrapper figure.wp-block-table table{
	width:100%;
	margin-bottom:s.$spaceSize*1.5;
	border-collapse: separate;
	tr{
		th{
			font-family: "Zen Maru Gothic", serif;
			font-weight: 700;
			font-style: normal;
			color:#000;
			background:#E3DACC;
			padding:0.7em 1em;
			min-width:30%;
			border:none;
			border-bottom:dashed #9D8F8F 3px;
			@include s.media(m){
				font-size:1.1em;
			}
		}
		td{
			font-family: "Zen Maru Gothic", serif;
			font-weight: 500;
			font-style: normal;
			padding:0.7em 1em;
			background:#FFF;
			border:none;
			border-bottom:dashed #9D8F8F 3px;
			@include s.media(m){
				font-size:1.1em;
			}
		}
		&:nth-child(even){
			th{
				background:#E3DACC;
			}
			td{
				background:#FFF;
			}
		}
		&:last-child{
			th{
				border-bottom:none;
			}
			td{
				border-bottom:none;
			}
		}
	}
}

.article p{
	font-size:1.1em;
	margin-bottom:s.$spaceSize*2;
	@include s.media(m){
		font-size:1.12em;
		line-height:2.2em;
	}
}



//ボタンスタイル1　表示画面用
#wrapper .article .is-style-button-style-1{
	a{
		height:3em;
		font-size:1.25em;
		display:inline-block;
		font-family: "Zen Maru Gothic", serif;
		font-weight: 500;
		font-style: normal;
		background:#DEA29B;
		padding:0.7em 3em 0.7em 2em;
		border-radius:3em;
		position:relative;
		text-align:center;
		color:#000;
		line-height:1.7;
		@include s.media(m){
			height:3.7em;
			padding:1em 3em 1em 2em;
		}
		&::before {
	        	content: "\025b6";
	      		margin-left: 0.5em;
			font-size:0.8em;
			color:#FFF;
			position:absolute;
			top:50%;
			right:1em;
			margin-top:-0.8em;
			@include s.media(m){
				right:2em;
			}
	        }
		&::after {
	      		content: " ";
			width:calc(100% - 0.5em);
			height:2.5em;
			position:absolute;
			top:0.25em;
			right:0.25em;
			border-radius:2.7em;
			border:1px dashed #FFF;
			@include s.media(m){
				height:3.2em;
				border:2px dashed #FFF;
			}
	        }
		&:hover{
			background:s.$colorType02;
		}
	}
}

//ボタンスタイル1　投稿画面用
.editor-styles-wrapper .is-style-button-style-1 .wp-block-button__link {
    color: #fff;
    background-color: unset;
    font-size: 1em;
    padding: 0;

		height:3em;
		font-size:1.25em;
		display:inline-block;
		font-family: "Zen Maru Gothic", serif;
		font-weight: 500;
		font-style: normal;
		background:#DEA29B;
		padding:0.7em 4em 0.7em 2em !important;
		border-radius:3em;
		position:relative;
		text-align:center;
		color:#000;
		line-height:1.7;
		@include s.media(m){
			height:3.7em;
			padding:1em 3em 1em 2em !important;
		}
		&::before {
	        	content: "\025b6";
	      		margin-left: 0.5em;
			font-size:0.8em;
			color:#FFF;
			position:absolute;
			top:50%;
			right:1em;
			margin-top:-0.8em;
			@include s.media(m){
				right:2em;
			}
	        }
		&::after {
	      		content: " ";
			width:calc(100% - 0.5em);
			height:2.5em;
			position:absolute;
			top:0.25em;
			right:0.25em;
			border-radius:2.7em;
			border:1px dashed #FFF;
			@include s.media(m){
				height:3.2em;
				border:2px dashed #FFF;
			}
	        }
		&:hover{
			background:s.$colorType02;
		}
}


//ボタンスタイル2　表示画面用
#wrapper .article .is-style-button-style-2{
	a{
		font-size:1.25em;
		display:inline-block;
		font-family: "Zen Maru Gothic", serif;
		font-weight: 500;
		font-style: normal;
		position:relative;
		color:#000;
		line-height:1.7;
		padding:0 3em 0 0;
		background-color: unset;
		@include s.media(m){
			padding:0 4em 0 0;
		}
		&::before {
	        	content: " ";
			width:1.5em;
			height:1.5em;
			background: url(../img/common/imgDeco02.png) no-repeat center center;
			background-size:100% auto;
	      		margin-left: 0.5em;
			color:#FFF;
			position:absolute;
			top:50%;
			right:0.5em;
			margin-top:-0.8em;
			@include s.media(m){
				right:2em;
			}
	        }
		&:hover{
			color:s.$colorType02;
		}
	}
}

//ボタンスタイル2　投稿画面用
.editor-styles-wrapper .is-style-button-style-2 .wp-block-button__link {
    color: #fff;
    background-color: unset;
    font-size: 1em;
    padding: 0;

		font-size:1.25em;
		display:inline-block;
		font-family: "Zen Maru Gothic", serif;
		font-weight: 500;
		font-style: normal;
		position:relative;
		color:#000;
		line-height:1.7;
		padding:0 3em 0 0 !important;
		@include s.media(m){
			padding:0 4em 0 0 !important;
		}
		&::before {
	        	content: " ";
			width:1.5em;
			height:1.5em;
			background: url(../img/common/imgDeco02.png) no-repeat center center;
			background-size:100% auto;
	      		margin-left: 0.5em;
			color:#FFF;
			position:absolute;
			top:50%;
			right:0.5em;
			margin-top:-0.8em;
			@include s.media(m){
				right:2em;
			}
	        }
		&:hover{
			color:s.$colorType02;
		}
}


//見出し付き　テキスト枠

.cocoon-block-caption-box.not-nested-style {
	background-color: #FFF;
	border-color: unset;
	border:s.$colorType02 solid 1px;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
	font-style: normal;
	border-radius:1em;
	overflow:hidden;
}

#wrapper .cocoon-block-caption-box.not-nested-style>.box-label {
	background-color: s.$colorType02;
	color:#FFF;
	font-size:1.2em;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
	font-style: normal;
	padding:0.5em 1em;
	justify-content:center;
}

#wrapper .cocoon-block-caption-box .caption-box-content {
    padding: 0.7em 1.5em 0 1.5em;
	p{   
		margin-bottom:1.5em;
	}
}

//見出し付き　テキスト枠 編集画面用

#wpwrap .editor-styles-wrapper .cocoon-block-caption-box.not-nested-style {
	background-color: #FFF;
	border-color: unset;
	border:s.$colorType02 solid 1px;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
	font-style: normal;
	border-radius:1em;
	overflow:hidden;
}

#wpwrap .editor-styles-wrapper .cocoon-block-caption-box.not-nested-style > .box-label {
	background-color: s.$colorType02;
	color:#FFF;
	font-size:1.2em;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
	font-style: normal;
	padding:0.5em 1em;
	justify-content:center;
}

#wpwrap .editor-styles-wrapper .cocoon-block-caption-box .caption-box-content {
    padding: 0.7em 1.5em 0 1.5em;
	p{   
		margin-bottom:1.5em;
	}
}

//段落スタイル破線

#wrapper .is-style-paragraph-style-1{
	background:#FFF;
	border-radius:1em;
	border:#DEA29B dashed 3px;
	padding:1em;
}

#wpwrap .is-style-paragraph-style-1{
	background:#FFF;
	border-radius:1em;
	border:#DEA29B dashed 3px;
	padding:1em;
}

#wrapper .is-style-paragraph-style-2{
	background:#FFF;
	border-radius:1em;
	box-shadow: 0px 0px 15px 0px #dcdcdb;
	padding:1em;
}

#wpwrap .is-style-paragraph-style-2{
	background:#FFF;
	border-radius:1em;
	box-shadow: 0px 0px 15px 0px #dcdcdb;
	padding:1em;
}


//ブログ用に修正
.single-post{
	.article h2 {
		@include s.media(m){
			padding:0 1em 0 1em;
			text-align:left;
		}
		&::after{
			@include s.media(m){
				left:0;
				top:-0.3em;
			}
		}
	}
	.article h3 {
		@include s.media(m){
			padding:0;
			text-align:left;
		}
		&.tC{
			@include s.media(m){
				padding:0;
				text-align:center;
				padding:2em 1em 0.5em;
			}
		}
	}
}